.account-panel {
	display: flex;
	flex-flow: column nowrap;
}

.account-form {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	&__input {
		font-size: 22px;
		padding: 7px 15px;
		border-radius: 15px;
		min-width: 300px;
		outline: 0;
		margin-bottom: 5px;
		transition: all .15s ease-in;
		border: 1px solid grey;

		&:focus {
			box-shadow: 2px 2px 40px 2px #00000054;
		}
	}

	&__button {
		@extend .btn-white;
		width: 120px;
		font-size: 18px;
	}
}
