.order-summary {
	position: absolute;
	bottom: 0;
	width: 500px;
	background-color: $lighter;
	text-align: center;
	padding: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	height: 0;
  transition: all 0.3s ease-in-out;

	&__header {
		position: absolute;
		top: -35px;
		font-size: 19px;
		left: 50%;
		transform: translate(-50%);
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		padding: 8px 21px;
		z-index: 3;
		background-color: $light;
		font-family: 'Indie Flower';
		cursor: pointer;
    white-space: nowrap;
    box-shadow: 0 0 0 0 white;
    transition: all .15s ease-in-out;
    
    &--glow {
      box-shadow: 0 0 15px 8px white;
    }
	}

	&__line {
		font-size: 21px;
		padding: 3px 0;
	}

	&--opened {
		height: 60vh;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		padding: 17px 0;
		border: 1px solid white;
		border-bottom: 0;
	}

	&__success {
		font-size: 40px;
		color: green;
	}

	&__error {
		font-size: 40px;
		color: red;
	}
}
