.all-stages {
	opacity: 1;
	margin: 0;
	transition: all 0.5s ease;
	position: relative;
	height: 600px;
	min-width: 400px;
	max-height: 85vh;

	&--hidden {
		opacity: 0;
		margin: 0 0 0 650px;
	}
}

.stage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: all 0.5s ease;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&__image {
		height: 150px;
	}

	&__choice {
		margin: 5px 0;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
	}

	&__input {
		display: none;

		&:checked {
			+ label {
				border: 3px solid $darker;
				background-color: $lighter;
				box-shadow: 5px 5px 80px 5px #0000004a;
			}
		}
	}

	&__label {
		background-color: transparent;
		font-size: 30px;
		width: 250px;
		padding: 12px 0px;
		text-align: center;
		border: 2px solid $light;
		border-radius: 100px;
		cursor: pointer;
		transition: all 0.3s ease;
		display: block;

		&:hover {
			border: 2px solid $default;
			box-shadow: 5px 5px 80px 5px #0000004a;
		}

		&--addOne {
			&:not(:active) {
				transition: all 1000ms ease-in;
				box-shadow: 0 0 0 0 transparent;
			}

			&:active {
				background-color: $default;
				box-shadow: 5px 5px 80px 5px #0000004a;
			}
		}
	}

	&__removeOne {
		margin-left: 10px;
		background-color: #ff49498c;
		border-radius: 100px;
		height: 27px;
		border: 0px;
		width: 27px;
		font-weight: 1000;
		font-size: 17px;
		cursor: pointer;
		box-shadow: 0px 0px 0px 0px transparent;

		&:hover {
			box-shadow: 2px 2px 20px 1px #0000004a;
			// background-color: #ff000088;
		}

		&:not(:active) {
			transition: all 0.25s ease-in;
		}

		&:active {
			background-color: rgba(255, 0, 0, 0.877);
		}
	}

	&--hidden {
		opacity: 0;
		margin: 0 0 0 650px;
	}

	&__question {
		margin: 15px;
		font-size: 20px;
	}
}

.stages-nav {
	position: absolute;
	bottom: 20px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	width: 100%;

	&__btn {
		@extend .btn-white;
		margin: 0 10px;
		// &--disabled {
		//   @extend .btn-white--disabled;
		// }
	}
}
