$background: #e8a7ff88;
$lighter: #e8a7ff;
$light: #db76ff;
$default: #bf0aff; // Main Primary color */
$dark: #6a0090;
$darker: #52006f;

@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower");

@import "./helpers/Variables.scss";
@import "./helpers/Reset.scss";
@import "./helpers/General.scss";
@import "./helpers/Responsive.scss";

@import "./components/MainPage.scss";
@import "./components/AccountPage.scss";
@import "./components/Stages.scss";
@import "./components/OrderSummary.scss";
